# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
dist/
downloads/
eggs/
parts/
sdist/
var/
wheels/
pip-wheel-metadata/
share/python-wheels/

# Virtual environment
venv/
ENV/
env/
.venv/

# Jupyter Notebook checkpoints
.ipynb_checkpoints

# PyTorch model checkpoints (they are small but can be ignored)
*.pt